$white: #fff;
$turqoise: #00e0d0;
$graylight: #c6c4c9;
$graydark: #413d4b;
$black: #2f2d35;
$purple: #120e37;

$font_roboto: "Roboto", sans-serif;
$font_playfair: "Playfair Display", serif;

// $gap: 20px;
// $fontSize: 16px;
